
/* About Us Box */
#translucent{
	border-radius:10px;
	background-color: black;
	opacity: 70%;
	color:white;
	width: 300px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left: 30px;
	padding-right: 30px;
}
/* END */

/* Start of Chatbot */
#chatbot {
    position: fixed;
    right: 30px;
    bottom: 20px;
    z-index: 999;
  }
  
  #chatbot-popup {
    display: none;
    position: fixed;
    right: 30px;
    bottom: 20px;
    z-index: 9999;
    width: 450px; /* Set the desired fixed width */
  }
  
  #usertext {
    width: 100%; /* Make the textarea width 100% to fill the chatbox */
  }
  
  .chatbotimg {
    width: 150px;
  }
#spacing{
	padding:10px;
}
/* End of ChatBot */

/* Start of Password CSS */
#password{
    border-radius: 5px;
    position:relative;
}
#confirmpassword{
    border-radius:5px;
    position:relative;
}
#togglePassword{
    right:10px;
}
form i{
    margin-left: -30px;
    cursor: pointer;
}
#right{
    display:flex;
    align-items: right;
    justify-content: end;
}
#loginphoto{
    width:445px;
    height:500px;
}

#newbox{
    background-image: url("../images/background.avif");
    background-size: cover;
    background-attachment: fixed;
    transition: transform 1s;
}
#loginbox{
    transition: transform 1s;
}

#text{
    margin-top: 50%;
}

#overbackground{
    background-image: url("../images/overbackground.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center center;
}

#forgotpassword{
    color:black;
    display:none;
}

#closebox{
    display:none;
}

#togglePassword2{
    right:10px;
}
.center{
  transform: translate(0, 10%);
  padding: 10px;
}

#space{
    margin-right:5px;
}

#gender{
    margin-right:10px;
}

#country{
    border-radius: 5px;
}
#sizing{
    height:200px;
}
