#topbar {
    font-size: 14px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: white;
    height: 40px; /* Reduce the height */
}
#top-link ul li {
    display: inline;
}

#top-link-end{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    padding: 0;
    margin:0;
}
#top-link-start{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
    padding: 0;
}
#top-link ul li a{
    background-color: #de6262;
    padding: 10px 15px;
    color:white;
    font-weight:bold;
}
